<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1_nacos.mapper.sqlserver.SqlServerMapper">

    <select id="findByWrapper" resultType="java.util.Map" resultSetType="FORWARD_ONLY" fetchSize="-2147483648">
        SELECT
            ${queryFields}
        FROM ${table}
        WHERE qzh = #{model.qzh,jdbcType=VARCHAR}
    </select>

    <select id="count" resultType="long">
        select count(*) from ${table}  WHERE qzh = #{model.qzh,jdbcType=VARCHAR}
    </select>


</mapper>